/* Hide the scrollbar track background for minimal look */
.modal-content {
  overflow-y: auto;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #c4c4c4 transparent; /* Firefox */
}

.modal-content::-webkit-scrollbar {
  width: 8px; /* Make scrollbar thinner */
}

.modal-content::-webkit-scrollbar-thumb {
  background: #888; /* Scrollbar color */
  border-radius: 10px; /* Round edges */
}

.modal-content::-webkit-scrollbar-thumb:hover {
  background: #555; /* Change color on hover */
}

.modal-content::-webkit-scrollbar-track {
  background: transparent; /* Make track invisible */
}
